.about-article{
	height: 1000px;
	background-color: #363237;
	position: relative;
	top: 70px;
	height: auto;
	overflow: auto;
	margin-bottom: 70px;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 10px;
}
h2{
	margin: 0;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
}
#wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.example-image{
	display: block;
	max-width: 100%;
	height: auto;
	width: auto;
	box-sizing: border-box;
	border: 3px solid #fff;
}
.one-third{
	width: 29%;
	float: left;
	margin: 2%
}
img:hover{
	opacity: 0.8;
}
@media screen and (max-width: 768px){
	.one-third{
		width: 48%;
		margin: 1%;
	}
}
@media screen and (max-width: 480px){
	.one-third{
		width: 98%;
		margin: 1%;
	}
}
.logo-space img{
    border: 0;
}